*{
  margin:0;
  padding: 0;
}
.App {
  background-color: #fafafafa; 
}
.app__posts{
  padding: 20px;
  display: flex;
  justify-content: center;
}
.app__postsRight{
  margin-left: 20px;
}
.app__header{
  background-color: #ffffff;
  object-fit: contain;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
}
.app__headerImage{
  object-fit: contain;
}
.app__signUp{
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1024px) {
  .app__headerImage{
   margin-left: 10px;
  }
}

@media screen and (max-width: 600px) {
  .app__postsRight{
    display: none;   
  }
}
@media screen and (max-width: 460px) {
  .app__modal{
    width:auto;
    margin-left: 60px;
  }
}

@media screen and (max-width: 360px) {
  .app__postsRight{
    display: none;
  }
  .app__modal{
    width:auto;
    margin-left: 80px;
  }
  .app__modal img{
    margin-left: -50px;
  }
  .app__modal Button{
    margin-left: -50px;
  }
}
